h1 {
    text-align: center;
}

h2 {
    margin-top: 10px;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    margin: auto;
}

.description {
    background-color: rgb(221, 245, 221);
    padding: 5px 10px;
    margin: 10px;
}

.ingredients {
    background-color: rgb(252, 226, 226);
    padding: 5px 10px;
    margin: 10px;
}

.steps {
    background-color: rgb(220, 238, 247);
    padding: 5px 10px;
    margin: 10px;
}

ul.links-list{
    display: flex;
    list-style: none;
    padding: 10px;
}

ul.links-list li {
    margin-right: 10px; 
}

.links-list a {
    background-color: rgb(179 57 81);
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

.links-list a:hover {
    background-color: rgb(66 28 40);
    color: white;
}

p.button {
    background-color: rgb(179 57 81);
    margin-bottom: 20px;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

p.button:hover {
    background-color: rgb(66 28 40);
    color: white;
}

a {
    text-decoration: none;
}